input {
    border-radius: 15px;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(197, 197, 197);
}

select {
    border-radius: 15px;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(197, 197, 197);
}

button {
    border-radius: 15px;
    padding: 0.6rem 2rem;
    border: 1px solid rgb(197, 197, 197);
    background-color: #00d8bb;
}

form {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 15px;
    z-index: 100;
    background-color: white;
    position: relative;
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.11);
    position: absolute;
    top: 0;
    left: 0;
}