.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.categories-container {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  overflow-x: auto;
  margin: 0 auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

h5 {
  align-self: flex-start;
}

.wrapper {
  height: 100%;
}

.theme-toggle {
  font-size: 1.5rem;
  color: #2c2c2c;
}



.title {
    /* text-align: left; */
    align-self: flex-start;
}

.subtitle {
    color: rgb(113, 113, 113);
}

.hamburger-icon {
    font-size: 1.5rem;
}