.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.categories-container {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  overflow-x: auto;
  margin: 0 auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

h5 {
    align-self: flex-start;
}

.wrapper {
  height: 100vh;
}
