<div class="wrapper">
  <div class="container">
    <i
      [routerLink]="'/completed-tasks'"
      class="fa-solid fa-bars hamburger-icon"
    ></i>
    <h2 class="text-spacing title">What Up, Kenny!</h2>
    <h5 class="text-spacing subtitle">CATEGORIES</h5>
  </div>
  <div class="categories-container scrollbar-hidden">
    <app-category
      [categoryName]="c.name"
      [backgroundColor]="c.color"
      [tasksNumber]="c.tasksLength"
      *ngFor="let c of taskService.categories"
      (click)="goToDetails(c.name)"
    ></app-category>
  </div>
  <h5 class="text-spacing subtitle">YOUR MIND</h5>
  <app-task
    *ngFor="let t of taskService.tasks; index as i"
    [taskText]="taskService.tasks[i].text"
    [index]="i"
    (deleteEmitter)="onDeleteEmitter(i)"
  ></app-task>

  <div appThemetoggle class="theme-toggle">
    <i class="fa-solid fa-circle-half-stroke"></i>
  </div>
</div>
