<div appThemetoggle class="wrapper">
  <div class="container">
    <app-kebab [routerLink]="'/completed-tasks'"></app-kebab>
    <h2 class="text-spacing">What Up, Kenny!</h2>
    <h5 class="text-spacing">CATEGORIES</h5>
  </div>
  <div class="categories-container scrollbar-hidden">
    <app-category
      [categoryName]="c.name"
      [backgroundColor]="c.color"
      [tasksNumber]="c.tasksLength"
      *ngFor="let c of taskService.categories"
      (click)="goToDetails(c.name)"
    ></app-category>
  </div>
  <h5 class="text-spacing">YOUR MIND</h5>
  <app-task
    *ngFor="let t of taskService.tasks; index as i"
    [taskText]="taskService.tasks[i].text" (click)="taskService.checkTask(i)"
  ></app-task>
</div>
