.todo-wrapper {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}